In [ ]:
import pyspark.sql.functions as F
from pyspark.sql.types import *
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.getOrCreate()

In [6]:
data = [
    ("camilo", "colombia"),
    ("maria", "colombia")
]
print(data)

[('camilo', 'colombia'), ('maria', 'colombia')]

In [6]:
import org.apache.spark.SparkContext
import org.apache.spark.sql.Dataset
import org.apache.spark.sql.Row
import org.apache.spark.sql.SaveMode
import org.apache.spark.sql.SparkSession
import org.apache.spark.sql.functions.from_json
import org.apache.spark.sql.streaming.Trigger
import scala.collection.JavaConverters._
// val spark: SparkContext = new SparkContext()

// VALUES are immutable constants. You can't change them once defined.
val hello: String = "Hola!"                     //> hello  : String = Hola!
println(hello)                                  //> Hola!

Hola!

hello = Hola!

Hola!

In [8]:
import org.apache.spark.sql.SparkSession

val spark: SparkSession = SparkSession.builder()
  .master("local[1]")
  .appName("SparkByExamples.com")
  .getOrCreate()

val data = Seq(("James ","","Smith","36636","M",3000),
             ("Michael ","Rose","","40288","M",4000),
             ("Robert ","","Williams","42114","M",4000),
             ("Maria ","Anne","Jones","39192","F",4000),
             ("Jen","Mary","Brown","","F",-1))

val columns = Seq("firstname","middlename","lastname","dob","gender","salary")

import spark.sqlContext.implicits._
val df = data.toDF(columns:_*)
df.show()
df.printSchema()
df.write
  .parquet("/tmp/output/people.parquet")
val parqDF = spark.read.parquet("/tmp/output/people.parquet")

parqDF.createOrReplaceTempView("ParquetTable")
spark.sql("select * from ParquetTable where salary >= 4000").explain()
val parkSQL = spark.sql("select * from ParquetTable where salary >= 4000 ")
parkSQL.show()
parkSQL.printSchema()
df.write
  .partitionBy("gender","salary")
  .parquet("/tmp/output/people2.parquet")
val parqDF2 = spark.read.parquet("/tmp/output/people2.parquet")
parqDF2.createOrReplaceTempView("ParquetTable2")
val df3 = spark.sql("select * from ParquetTable2  where gender='M' and salary >= 4000")
df3.explain()
df3.printSchema()
df3.show()
val parqDF3 = spark.read
  .parquet("/tmp/output/people2.parquet/gender=M")
parqDF3.show()

+---------+----------+--------+-----+------+------+
|firstname|middlename|lastname|  dob|gender|salary|
+---------+----------+--------+-----+------+------+
|   James |          |   Smith|36636|     M|  3000|
| Michael |      Rose|        |40288|     M|  4000|
|  Robert |          |Williams|42114|     M|  4000|
|   Maria |      Anne|   Jones|39192|     F|  4000|
|      Jen|      Mary|   Brown|     |     F|    -1|
+---------+----------+--------+-----+------+------+

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = false)

== Physical Plan ==
*(1) Project [firstname#50, middlename#51, lastname#52, dob#53, gender#54, salary#55]
+- *(1) Filter (isnotnull(salary#55) && (salary#55 >= 4000))
   +- *(1) FileScan parquet [firstname#50,middlename#51,lastname#52,dob#53,gender#54,salary#55] Batched: true, Format: Parquet, Location: InMemoryFileIndex[file:/tmp/output/people.parquet], PartitionFilters: [], PushedFilters: [IsNotNull(salary), GreaterThanOrEqual(salary,4000)], ReadSchema: struct<firstname:string,middlename:string,lastname:string,dob:string,gender:string,salary:int>
+---------+----------+--------+-----+------+------+
|firstname|middlename|lastname|  dob|gender|salary|
+---------+----------+--------+-----+------+------+
|   Maria |      Anne|   Jones|39192|     F|  4000|
|  Robert |          |Williams|42114|     M|  4000|
| Michael |      Rose|        |40288|     M|  4000|
+---------+----------+--------+-----+------+------+

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

== Physical Plan ==
*(1) FileScan parquet [firstname#100,middlename#101,lastname#102,dob#103,gender#104,salary#105] Batched: true, Format: Parquet, Location: InMemoryFileIndex[file:/tmp/output/people2.parquet], PartitionCount: 1, PartitionFilters: [isnotnull(gender#104), isnotnull(salary#105), (gender#104 = M), (salary#105 >= 4000)], PushedFilters: [], ReadSchema: struct<firstname:string,middlename:string,lastname:string,dob:string>
root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

+---------+----------+--------+-----+------+------+
|firstname|middlename|lastname|  dob|gender|salary|
+---------+----------+--------+-----+------+------+
|  Robert |          |Williams|42114|     M|  4000|
| Michael |      Rose|        |40288|     M|  4000|
+---------+----------+--------+-----+------+------+

+---------+----------+--------+-----+------+
|firstname|middlename|lastname|  dob|salary|
+---------+----------+--------+-----+------+
|  Robert |          |Williams|42114|  4000|
| Michael |      Rose|        |40288|  4000|
|   James |          |   Smith|36636|  3000|
+---------+----------+--------+-----+------+

spark = org.apache.spark.sql.SparkSession@73af0f58
data = List(("James ","",Smith,36636,M,3000), ("Michael ",Rose,"",40288,M,4000), ("Robert ","",Williams,42114,M,4000), ("Maria ",Anne,Jones,39192,F,4000), (Jen,Mary,Brown,"",F,-1))
columns = List(firstname, middlename, lastname, dob, gender, salary)
df = [firstname: string, middlename: string ... 4 more fields]
parqDF = [firstname: string, middlename: string ... 4 more fields]
parkSQL = [firstname: string, middlename: string ... 4 more fields]

parqDF2: org.apache.spark...

[firstname: string, middlename: string ... 4 more fields]

In [5]:
df = spark.createDataFrame(data, StructType([
    StructField("first_name", StringType(), True),
    StructField("country", StringType(), True, {'model_version': 3})
]))

In [6]:
df.show()

+----------+--------+
|first_name| country|
+----------+--------+
|    camilo|colombia|
|     maria|colombia|
+----------+--------+

In [7]:
df.printSchema()

root
 |-- first_name: string (nullable = true)
 |-- country: string (nullable = true)

In [8]:
f = df.schema.fields

In [9]:
["%s (%s): %s" % (t.name, t.dataType, t.metadata) for t in f]

['first_name (StringType): {}', "country (StringType): {'model_version': 3}"]

In [10]:
df.write.mode('overwrite').parquet('tmp/people_with_metadata')

In [11]:
import pyarrow.parquet as pq

In [5]:
path = '/Users/matthewpowers/Documents/code/my_apps/pysparktestingexample/tmp/people_with_metadata/part-00000-b726eeb0-5ce2-4726-a9da-f721f62007e2-c000.snappy.parquet'

In [13]:
parquet_file = pq.read_table(path)

In [14]:
print(parquet_file)

pyarrow.Table
first_name: string
country: string

In [15]:
parquet_file.schema.field('country')

pyarrow.Field<country: string>

In [16]:
parquet_file.schema.field('country').metadata

{b'PARQUET:field_id': b'2'}

In [17]:
parquet_file.schema.field('country').metadata[b'model_version']

KeyError: b'model_version'